---
title: Inlägg 2
date: "2024-06-03"
keywords: ["färdig, utvärdering"]
---

Jag har helt glömt bort att skriva i bloggen, men nu är jag klar med min hemsida 
och jag har hunnit göra allt jag ville och är nöjd med mitt arbete. Idag ska jag 
jobba med projektutvärderingen som har en mer detaljerad utvärdering av mitt arbete.